{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href={% static "css/bootstrap.min.css" %}>
        <link rel="stylesheet" href={% static "css/theme.css" %}>
        <title>{% block head_title %}{% endblock %}</title>
        {% block extra_head %}{% endblock %}
    </head>
    <body role="document">
        {% block body %}{% endblock %}
        {% block js %}
            <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
            <script src={% static "js/bootstrap.min.js" %}></script>
        {% endblock %}
        {% block extra_js %}{% endblock %}
    </body>
</html>